@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

a{
  display: inline-block;
  text-decoration: none;
}

  

  body{
    min-width: 320px;

  }

  .header{
    min-height: 100vh;
    background-image: url(../img/bgHeader-320.png); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
  }
  
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login{

    background: transparent;
    border: 1px solid transparent;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }

  .login{
    background: transparent;
    border: 1px solid transparent;
  }

  .signUp{
    background: transparent;
    border: 2px solid #ffffff;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 18px;
    border-radius: 200px 200px 200px 200px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }



@media screen and (min-width: 420px) {
  .header{
    background-image: url(../img/bgHeader-768.png); 
  }
}

@media screen and (min-width: 576px) {
  .header{
  }
}

@media screen and (min-width: 768px) {
  .header{
  }
}

@media screen and (min-width: 992px) {
  .header{
    background-image: url(../img/bgHeader-1440.png); 
  }
}


