/* playfair-display-regular - latin-ext_latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/playfair-display-v21-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v21-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-size: 18px;
    background-color: #fff;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    /* border: forestgreen 1px solid; */
  }
  
  .header {
    padding: 80px 0;
    /* border: rgb(216, 145, 53) 1px solid; */
  }
  .menu {
    margin-bottom: 50px;
  }
  .menu-list {
    text-align: center;
    font-size: 0;
  }
  .menu-list__item {
    display: inline-block; 
    color: white;
    padding: 30px;
    transition: 0.2s linear all;
    
  }

  .menu-list__item:hover {
    background-color: rgb(165, 164, 164);
  }

.menu-list__item-link{
    text-decoration: none;
    font-size: 15px;
    color:   }

/* div.divka{ 
  display: inline-block;
} */


.btn-load {
  display: inline-block;
  
  width: 164px;
  height: 60px;
  border: rgb(98, 98, 98) solid 1px;
  color: #626262;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  text-decoration: none;
}

.wrp-btn{
  text-align: center;
}
 
/* .divka {
  /* padding: 150px; */


.divka {
  display: inline-block;
  max-width: 40%;
  border: 1px red solid;
}

.p {
  font-family: 
}


  

